body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  /*line-height: 20px;*/
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  background: #2b2b2b;
  margin: 0;
}
@media screen and (max-width: 580px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
  .wrapper {
    padding: 0px !important ;
  }
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
    overflow-x: auto;
  }
}
.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  min-width: 395px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  max-width: 800px;
  min-width: 395px;
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}

.cell {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  text-align: center;
  display: table-cell;
}

a {
  color: black;
}
